MONGODB_URI=mongodb+srv://Balujeswanth:Baluflix123@cluster0.hqqoxgl.mongodb.net/watchmirror?retryWrites=true&w=majority
ADMIN_KEY=WATCHMIRROR123
TMDB_API_KEY=83a327b565b5e333dd2dc755f76177a9
NEXT_PUBLIC_TMDB_IMAGE_BASE=https://image.tmdb.org/t/p/original
NEXT_PUBLIC_PLAYERJS_URL=//site.com/playerjs.js